<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WIKIS</title>
  </head>
  <body>
    <div class="container">
      <ul type="square">
        <% data.forEach(item =>{ %>
        <li><%= item.name %></li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
